.header-content
{
    display: flex;
    flex-flow: row wrap;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.header-text
{
    display: flex;
    flex-direction: column;
    font: normal normal bold 20px/25px Montserrat;
    text-transform: uppercase;
    margin-left: 1%;

}
.header-text span:nth-child(2)
{
    color: #42515F;
}
.header-text span:nth-child(1)
{
    color: #82A70C;
}
.header
{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-bottom: 20px;
}
body
{
    background: #F7F7F7 0% 0% no-repeat padding-box;
}
.form-content
{
    min-height: calc(100%-88px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;

}
form{
    width: 65%;
    padding: 44px 60px;
    background: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5 ;
    border-radius: 8px;

}
.form-head
{
    padding-bottom: 20px;
    font: normal normal bold 28px/37px Roboto;
    color: #42515F;
    text-transform: capitalize;

}
.row-content
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.label
{
    min-width: 140px;
}
label
{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.header-text{
    font-size: 16px;
    color: #42515f;
    font-family: Roboto;
}

.input
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.profile-radio-content
{
    display: flex;
    flex-direction: row;
}
.profile-radio-content > label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile
{
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 15px;
}
.right-space
{
    padding-right: 9px;
    margin-right: 18px;

}
.text
{
    font-size: 16px;
    color: #42515f;
    font-family: Roboto;
}
.row-content > div > input[type="checkbox"]
{
    width: 15px;
    height: 15px;
}
