/* Usecase 1: Create header */
.logo-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin-left: 5%;
    padding: 15px;
}

.header-text
{
    display: flex;
    flex-direction: column;
    font: normal normal bold 22px/25px Montserrat;
    text-transform: uppercase;
    margin-left: 1%;

}
.header-text span:nth-child(2)
{
    color: #42515F;
}
.header-text span:nth-child(1)
{
    color: #82A70C;
}
body
{
    margin: 0;
}

/* Usecase 2: Add button and form title */
.main-content{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}
.inner-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}
.emp-detail-text{
    font-style: normal;
    font-variant: normal;
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    color: #42515f;
    margin-left: 10px;
}
.emp-count{
    background-color: #82a70c;
    color: #ffffff;
    border-radius: 42%;
    width: 26px;
    text-align: center;
    display: inline-block;
}
.add-button{
    font: normal normal normal 22px/29px Roboto;
    background: #82a70c;
    border:none;
    border-radius: 5px;
    padding:5px 18px;
    outline: none;
    text-decoration: none;
    margin-right: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

/*Usecase 3: Ability to view Employee Payroll details in a Tabular Format.*/
.table-main{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    min-width: 800px;

}
td,th{
    text-align: left;
    padding:5px 8px;
}
th{
    background: #42515f 0% 0% no-repeat padding-box;
    border-radius: 3px 3px 0px 0px;
    font-style: normal;
    font-variant: normal;
    font-family: Roboto;
    font-weight: medium;
    font-size: 18;
    line-height: 24px;
    color: #ffffff;
    text-transform: uppercase;
    border: 0px solid #dddddd;
}

tr{
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
td{
    font-style: normal;
    font-variant: normal;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #3d3d3d;
}
td:first-child{
    display: flex;
    align-items: center;
}
td img:first-child{
    margin: 0 5px 0 7%;
}
td img{
    cursor: pointer;
}
.dept-label{
    background-color: #e9fea5;;
    border-radius: 13px;
    width: fit-content;
    margin-right: 5pX;
    padding:1px 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
}